<a href="https://colab.research.google.com/github/gaurav-awasthi/SoC2021/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task i - Reading a data file into a dataframe

In [18]:
import pandas as pd
df = pd.read_csv('/content/master.csv')
df

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

Task ii - Displaying a portion of the dataset

In [19]:
df[df['suicides/100k pop'] > 50]

         country  year  ... gdp_per_capita ($)       generation
588    Argentina  1985  ...               3264  G.I. Generation
600    Argentina  1986  ...               4072  G.I. Generation
612    Argentina  1987  ...               4026  G.I. Generation
624    Argentina  1988  ...               4458  G.I. Generation
636    Argentina  1989  ...               2670  G.I. Generation
...          ...   ...  ...                ...              ...
27496    Uruguay  2010  ...              12882           Silent
27508    Uruguay  2012  ...              16264           Silent
27520    Uruguay  2013  ...              18179           Silent
27532    Uruguay  2014  ...              18012           Silent
27544    Uruguay  2015  ...              16696           Silent

[1408 rows x 12 columns]

Task iii and iv - Number of rows and columns

In [20]:
print(df.shape[0])
df.shape[1]

27820

12

Task v - Data types of columns

In [21]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

Task vi - Number of unique values in each column

In [22]:
df.nunique()

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

Task vii - Number of missing entries

In [23]:
df.isna().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

Task viii - Number of columns with no missing entries

In [24]:
df.dropna().shape[0]

8364